*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    color: #000d10;
    font-size: 1.125rem;
    font-family: HelveticaNowDisplay, Helvetica ,Arial, sans-serif;
    line-height: 1.6111111;
    font-weight: 400;
}

body{
    max-width: 1200px;
    max-height: 100vh;
}

/* 
<--****************************** (❁´◡`❁) ******************************-->
<--******************************** p-1 **********************************--> */

section .header-container-p1{
    background-image: linear-gradient(#7394b5, #ffff);
    height: 100vh;
}

.header-container-p1{
    width: 100%;
    min-height: 240px;
}

.navbar-p1{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: space-between;
    position: relative;
}

/* (★‿★) Top Navbar (★‿★) */

.left-side-nav{
    margin-left:18px;
}

.left-side-nav img{
    height: 270px;
    width: 620px;
    padding-top: 5px
}

/* ^_^ middle-top Navbar ^_^  */
.middle-nav{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 38px;

}
.middle-nav ul{
    
    display: flex;
    font-size: 16.29px;
    margin-left: 15px;
}
li{
    list-style: none;
    
}
.middle-nav ul li a{
    text-decoration: none;
    color: var(--textColor-p1);
    margin-right: 25px;
}


.middle-nav .h1-p1{
    margin-top: 68px;
    margin-left: 15px;
    margin-right: -20px;
    font-size: 2.7rem;
    line-height: .9;
    letter-spacing: -2.5px;
    font-weight: 550;

}

/* ^_^ right Navbar ^_^ */
.right-nav {
    display: flex;
    width: 102.24px; 
    height: 40.83px; 
    margin-top: 35px;
    /* background-color: yellowgreen; */
    margin-right: 48px;
}

.right-nav a {
    padding: 9px 12px;
    margin-right: 8px;
    position: relative;
}

.right-nav .icon-1 img{
    background-color: #000d10;
    padding: 12px;
    height: 40.8px;
    width:40.8px;
    border-radius: 50%;

}

.right-nav  .icon-2{
    position: absolute;
    top: 29px;
    right: 90px;
    height: 1.8px;
    width: 1.8px;

}


/* (★‿★) middle Navbar (★‿★) */
div .middle-container{
    position: relative;
    width: 500px;
    height: 500px;
    
}

/* ^_^ clouds ^_^ */
.middle-container .clouds{
    
    display: flex;
    opacity: 0.3;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.cloud-1{
    position: relative;
    left: 0px;
    top: 50px;
    opacity: 0.2;

}

.cloud-2{
    position: relative;
    left: -10px;
}

.cloud-3{
    position:relative;
    left: 0px;
    top: 10px;
    opacity: 0.2;
}

.cloud-4{
    position: relative;
    left: 60px;
    opacity: 0.3;
}

.cloud-5{
    position: absolute;
    right: 500px;
    top: -40px;
    opacity: 0.4;
}
.cloud-6{
    position: absolute;
    right: -40px;
    opacity: 0.6;

}

.cloud-7{
    position: relative;
    right: 340px;
    top: -20px;
    opacity: 0.4;
}

 /* .cloud-2::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scaleX(100%);
    animation: animate2 1s infinite ease-in;
    z-index: 1;
}

@keyframes animate2 {
    0%{
        top: 200px;
        left: 300px;
    }
    25%{
        top: 220px;
        left: 340px;
    }
    50%{
        top: 250px;
        left: 380px;
    }
    75%{
        top:230px;
        left: 350px;
    }
    100%{
        top:240px;
        left: 320px;
    }
  }
    */

/* ^_^ airPlane Img ^_^ */

div .airplane-img{
    background-color: palevioletred;
    top: 0;
    position: sticky;
    overflow: hidden; 
}


div.airplane-img::after{
    content: ' ';
    height: 200px;
    width: 600px;
    background: url(./img/airplane-mov-p1.png) no-repeat center center/cover;
    position: absolute;
    transform:scaleX(100%);
    animation: animate1 10s infinite ease-in-out;
    right: 100px;
    z-index: 2;

}

@keyframes animate1{
    
0%{
    top: 200px;
    left: 300px;
}
25%{
    top: 220px;
    left: 340px;
}
50%{
    top: 250px;
    left: 380px;
}
75%{
    top:230px;
    left: 350px;
}
100%{
    top:240px;
    left: 320px;
}
} 

/* <!--******* (✿◠‿◠) *******-->
<!--*******   Footer   *******--> */

.footer-p1{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -55px;
    width: 100%;
    height: 30px;
}
/* ^_^ p - p1 ^_^ */


.footer-p1 .footer-p-p1{
    font-weight: 550;
    position: absolute;
    left: 48px;
}

.btn-p1{ 
    position: relative;
    right: 100px;
    background-color: var(--textColor-p1);
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 0.75rem;
    font-weight: 550;
    top: -15px;
}

a {
    text-decoration: none;
    color: #ffff;
}

a .btn-p1 .right-btn{
    right: 160px;
}

/* 
<--****************************** (❁´◡`❁) ******************************-->
<--******************************** p-2 **********************************--> */

.container-p2{
    min-height: 120vh;
    min-width: 1100px;
    box-sizing: border-box;
    border-top: 1px solid gray;
    margin: 5px -10px;
}

.container{
    display: grid;
    grid-template-areas: 
    'title title title title'
    'title title title title'
    'sub1  sub1   sub2  sub2'
    'sub1  sub1   sub2  sub2'
    'sub3  sub3   sub4  sub4'
    'sub3  sub3   sub4  sub4'
    ;
    grid-gap: 5px;
}

.sub-title{
    padding:5px;
    border-top: 1px solid black;
}

.title{
    grid-area: title;
}

.sub1{
    grid-area: sub1;
}
.sub2{
    grid-area: sub2;
}
.sub3{
    grid-area: sub3;
}
.sub4{
    grid-area: sub4;
}
